.nav {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
}
.navLink,
.activeLink {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.02em;
	border-radius: 30px;
	padding: 12px 32px;
	height: 41px;
	border: 1px solid var(--color-input);
	transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.navLink {
	background-color: transparent;
	color: var(--color-text);
}

.navLink:hover,
.navLink:focus {
	border-color: var(--color-accent);
}

.activeLink {
	background-color: var(--color-accent);
	color: var(--color-bg);
	border-color: var(--color-accent);
}

@media screen and (max-width: 1439px) {
	.nav {
		flex-direction: column;
		gap: 16px;
	}

	.navLink {
		border: 1px solid rgba(12, 13, 13, 0.4) !important;
		color: var(--color-text) !important;
	}

	.activeLink {
		color: var(--color-bg);
		border: 1px solid var(--color-accent);
		background-color: var(--color-bg) !important;
	}
}
