.dropdownMenu button:hover,
.dropdownMenu button:focus {
  opacity: 1;
  .icon {
    fill: #0ef387;
    stroke: #0ef387;
  }
}
.iconButton {
  display: flex;
  gap: 3px;
}

.bthnIcon {
  display: flex;
  gap: 10px;
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 5px;
  background-color: #0c0d0d;
  border: 1px solid #fafafa1a;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
}

.dropdownMenu button {
  background: none;
  border: none;
  text-align: left;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  color: #fafafa;
  opacity: 0.5;
}
