.balanceCard {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  transform: translateX(-30px);
  background-color: white;
  padding:20px 20px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 248px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10;
}

.iconCircle {
  background-color: #0ef387;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowIcon {
  width: 36px;
  height: 36px;
  color: #0c0d0d;
}

.balance {
  display: flex;
  flex-direction: column;
  width: 89px;
  white-space: nowrap;
}

.balanceLabel {
  font-weight: 400;
  font-size: 12px;
  color: rgba(17, 16, 28, 0.5);
  margin: 0;
}

.balanceAmount {
  font-weight: 700;
  font-size: 18px;
  color: #11101c;
  margin: 0;
}

.balanceChange {
  border-radius: 13px;
  width: 58px;
  height: 22px;
  background: rgba(2, 177, 90, 0.15);
  color: #02b15a;
  margin: 0;
}

@media (min-width: 768px) {

  .balanceCard {
    width: 303px;
    height: 121px;
    align-items: center;
    padding:32px 34px 23px 23px;
  }
  .balanceLabel{
    font-size: 16px;
  }
  .balanceAmount {
    font-size: 24px;
  }
  .iconCircle{
    width: 43px;
height: 43px;
  }
}

