.userContainer {
  position: relative;
  display: inline-block;
  min-width: 200px;
  background-color: #171719;
  border-radius: 30px;
}

.userBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
}

.userImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userName {
  margin: 0;
}

.vector {
  font-size: 14px;
}

.userImg {
  width: 44px;
  height: 44px;
  border-radius: 40px;
  margin-left: 16px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.userConteiner {
  display: flex;

  align-items: center;
  gap: 10px;
  background-color: #171719;
  border-radius: 30px;
  color: white;
  justify-content: space-between;
  width: 220px;
  height: 56px;
}
.userName {
  color: #fafafa66;
}
.vector {
  margin-right: 16px;
  fill: #0ef387;
  width: 20px;
  height: 20px;
}
