.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #171719;
  padding: 30px 40px;
  border-radius: 20px;
  width: 500px;
  height: 477px;
  position: relative;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 255, 128, 0.2);
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 22px;
  color: #aaa;
  cursor: pointer;
}

.title {
  letter-spacing: -2%;
  font-size: 28px;
  font-weight: 400px;
  margin-bottom: 25px;
}

.avatarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarCircle {
  background: #111;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 15px;
}

.avatarIcon {
  font-size: 30px;
  color: #00ff85;
}

.avatarBtns {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.grayBtn {
  background: #2a2a2a;
  color: #eee;
  padding: 6px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.formGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.select,
.input {
  /* flex: 1; */
  background: #2a2a2a;
  border: none;
  padding: 10px 15px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  width: 70%;
}
.select {
  width: 30%;
}

.saveBtn {
  width: 100%;
  padding: 12px;
  background: #00ff85;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}
.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.avatarCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
