.wrapper {
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

  overflow: visible; 

}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  overflow: visible;
  
}
.mainImg {
  width: 100%;
  height: 381px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
 
}
@media (min-width: 768px){

  .mainImg {
    height: 482px;
    width: 100%;
    object-fit: cover; 
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 611px;
  }
  .mainImg {
    width: 100%;
    height: 568px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
  }
  .backgroundImage{

    overflow: hidden; 

  }
}

