:root {
  /* Fonts */
  --font-family: "Inter", sans-serif;

  /*shadow*/
  --shadow-regular: 0px 4px 10px 4px #9e9e9e;
  --shadow-medium: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
  --shadow-small: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  --shadow-link: 0 4px 10px rgba(0, 0, 0, 0.2);

  /*animation*/
  --animation-cubicBezier: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);

  /* colors */
  --white: #fafafa;
  --green-light: #0ef387;
  --background: #0c0d0d;
  --dark: #171719;
  --surface: #29292b;
  --grey: #838383;
  --green: #0ebb69;
  --success: #097b45;
  --error: #e74a3b;
}
