:root {
  /* Fonts */
  --font-family: "Inter", sans-serif;

  /*shadow*/
  --shadow-modal: 0 0 30px rgba(0, 255, 128, 0.2);
  --shadow-link: 0 4px 10px rgba(0, 0, 0, 0.2);

  /*animation*/
  --animation-cubicBezier: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

/* === Dark Theme === */
[data-theme="dark"] {
  color-scheme: dark;
  --color-bg: #0c0d0d;
  --color-surface: #29292b;
  --color-text: #fafafa;
  --color-text-muted: #838383;
  --color-text-strong: #171719;
  --color-primary: #0ebb69;
  --color-accent: #0ef387;
  --color-success: #097b45;
  --color-error: #e74a3b;
  --color-svg: rgba(197, 197, 197, 0.2);
  --shadow-modal: 0 0 30px rgba(0, 81, 255, 0.2);
  --color-input: rgba(250, 250, 250, 0.4);
}

/*=== Blue Theme === */
[data-theme="blue"] {
  color-scheme: blue;
  --color-bg: #0f1e2e;
  --color-surface: #1c2f47;
  --color-text: #eaf3ff;
  --color-text-muted: #a0b3c5;
  --color-text-strong: #466d94;
  --color-primary: #3b82f6;
  --color-accent: #60a5fa;
  --color-success: #2563eb;
  --color-error: #ef4444;
  --color-svg: rgba(197, 197, 197, 0.6);
  --shadow-modal: 0 0 30px rgba(0, 81, 255, 0.2);
  --color-input: rgba(250, 250, 250, 0.6);
}
