.add-form,
.edit-form {
  border-radius: 30px;
  max-width: 335px;
  background-color: var(--dark);

  border-radius: 20px;
  padding: 20px 20px 27px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  height: 600px;
}
.tInput::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.4);
}
.tRadioGroup {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.dateSection {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.tLabel {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--white);
  margin-bottom: 6px;
  font-weight: 400;
}

.tInput,
.react-datepicker__input-container input,
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 12px 14px;
  background-color: #171719;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: var(--white);
  border: 1px solid rgba(250, 250, 250, 0.2);
  height: 42px;
}
/* юююююююююююююююююююююююююююююююююююю */
.react-datepicker {
  font-family: inherit;
  border: none;
  background-color: #60df2e;
  border-radius: 10px;
  overflow: hidden;
}
.react-datepicker__day {
  width: 32px; /* Фіксована ширина для симетрії */
  height: 32px; /* Фіксована висота для симетрії */
  line-height: 32px; /* Центрування тексту */
  border-radius: 50%; /* Робить дні круглими */
  margin: 2px; /* Відступи між днями */
  text-align: center;
  color: var(--white);
}

.react-datepicker__day--selected {
  background-color: var(--green); /* Колір вибраного дня */
  color: var(--dark); /* Колір тексту вибраного дня */
  border-radius: 50%; /* Зберігаємо круглу форму для вибраного дня */
}

.react-datepicker__day--outside-month {
  opacity: 0.5; /* Дні з інших місяців менш помітні */
  color: #d4a373; /* Світло-коричневий для неактивних днів */
}
/* ююююююююююююююююююююююююююююююююююююююююююю */
.tTextarea {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: #171719;
  border-radius: 8px;
  resize: none;
  min-height: 91px;
  font-size: 14px;
  color: var(--white);

}

.t-radio-btn:checked {
  border-color: var(--green-light);
}


.tSendBtn {
  padding: 14px 44px;
  background-color: var(--green);
  border-radius: 50px;
  font-size: 16px;
  color: var(--dark);
  text-align: center;
  transition: background-color var(--animation-cubicBezier);

}

.date-section {
  display: flex;
  gap: 20px;
  margin-bottom: 19px;
}

.t-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(250, 250, 250, 0.4);
  pointer-events: none;
  transition: color 0.3s ease;
}

.t-input-wrapper:hover .t-icon,
.t-input-wrapper:focus-within .t-icon {
  color: var(--hover-green);
}


.tRadioBtn {
  accent-color: var(--green-light);
  background-color: black;

}

.t-input-group {
  margin-bottom: 19px;
  position: relative;
}

.t-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}


.tCurrency {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.4);

}

.t-input:hover,
.t-input:focus,
.t-textarea:hover,
.t-textarea:focus {
  border-color: var(--green-light);
  outline: none;
}

.t-input::-webkit-outer-spin-button,
.t-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dateSectionWrappDate {
  display: flex;
  flex-direction: column;
  width: 140px;
  position: relative;
}
.dateSectionWrappTime {
  display: flex;
  flex-direction: column;
  width: 140px;
  position: relative;
}
.icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 14px;
  bottom: 14px;
  z-index: 10;
}
/* .............................................................. */
@media (min-width: 768px) {
  .addForm,
  .editForm {
    border-radius: 30px;
    padding: 40px 108px;
    gap: 20px;
    align-items: stretch;
  }

  .tRadioGroup {
    flex-direction: row;
    gap: 24px;
  }

  .dateSection {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
  }

  .tTextarea {
    height: 97px;
  }
  .tSendBtn {
    width: auto;
    align-self: flex-start;
  }
  .tLabel {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .tInput::placeholder {
    font-size: 16px;
  }
  .tInput {
    padding: 12px 18px;
    height: 48px;
  }
  .tInput::placeholder {
    font-size: 16px;
  }
  .dateSectionWrappDate {
    display: flex;
    flex-direction: column;
    min-width: 247px;
  }
  .dateSectionWrappTime {
    display: flex;
    flex-direction: column;
    min-width: 221px;
  }
  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1440px) {
  .addForm,
  .editForm {
    padding: 40px;
  }

}

.t-textarea::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 4px;
}

.t-textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--green-light);
}

.t-send-btn {
  font-size: 14px;
  color: var(--black);
  border-radius: 40px;
  padding: 14px 44px;
  background-color: var(--green);
  transition: background-color 0.3s ease;
}

.t-send-btn:hover {
  background-color: var(--green-light);
}

.close-btn-container {
  position: absolute;

  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.4);

}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.close-icon {
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}

.close-icon:hover {
  color: var(--green-light);
}

@media screen and (min-width: 768px) {
  .add-form {
    max-width: 704px;
    padding: 40px 109px;
  }

  .edit-form {
    max-width: 500px;
    padding: 40px 40px;
  }

  .t-label {
    font-size: 16px;
  }
  .t-icon {
    right: 16px;
  }
  .t-error {
    font-size: 14px;
  }

  .t-input,
  .t-textarea {
    padding: 12px 18px;
    font-size: 16px;
  }

  .t-currency {
    right: 20px;
  }

  .t-send-btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .add-form {
    max-width: 566px;
    height: 600px;
  }
}

.tInputGroup {
  display: flex;
  flex-direction: column;
}
