.add-form,
.edit-form {
  border-radius: 30px;
  max-width: 335px;
  background-color: var(--dark);
  border-radius: 20px;
  padding: 27px 20px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.tInput::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.4);
}
.tRadioGroup {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.edit-form {
  border: 1px solid rgba(250, 250, 250, 0.1);
  margin: 0 auto;
}

.t-radio-group {
  display: flex;
  gap: 20px;
  /* margin-bottom: 19px; */
}

.t-radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.t-radio-btn {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.t-radio-btn:checked {
  border-color: var(--green-light);
}

.tSendBtn {
  padding: 14px 44px;
  background-color: var(--green);
  border-radius: 50px;
  font-size: 16px;
  color: var(--dark);
  text-align: center;
  width: 115px;
  height: 45px;
  transition: background-color var(--animation-cubicBezier);
}
.t-radio-btn:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--green-light);
  border-radius: 50%;
}

.date-section {
  display: flex;
  gap: 14px;
  /* margin-bottom: 19px; */
}

.t-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(250, 250, 250, 0.4);
  pointer-events: none;
  transition: color 0.3s ease;
}

.t-input-wrapper:hover .t-icon,
.t-input-wrapper:focus-within .t-icon {
  color: var(--hover-green);
}

.t-error {
  position: absolute;
  bottom: -22px;
  right: 6px;
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
}

.t-input-group {
  /* margin-bottom: 19px; */
  position: relative;
}

.t-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.t-input,
.t-textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: var(--white);
  background-color: var(--dark);
  transition: border-color 0.3s ease;
  font-size: 14px;
}
.t-input {
  height: 42px;
}
.t-input:hover,
.t-input:focus,
.t-textarea:hover,
.t-textarea:focus {
  border-color: var(--green-light);
  outline: none;
}

.t-input::-webkit-outer-spin-button,
.t-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.t-input-wrapper {
  position: relative;
}

.t-currency {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(250, 250, 250, 0.4);
  pointer-events: none;
}

.t-input:focus + .t-currency,
.t-input:hover + .t-currency {
  color: var(--light-green);
}

.t-textarea {
  min-height: 91px;
  resize: none;
  scrollbar-color: var(--green) transparent;
  scrollbar-width: thin;
}

.t-textarea::-webkit-scrollbar {
  width: 8px;
}

.t-textarea::-webkit-scrollbar-track {
  background: transparent;
}

.t-textarea::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 4px;
}

.t-textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--green-light);
}

.t-send-btn {
  font-size: 14px;
  color: var(--black);
  border-radius: 40px;
  padding: 14px 44px;
  background-color: var(--green);
  transition: background-color 0.3s ease;
  width: 115px;
  height: 45px;
}

.t-send-btn:hover {
  background-color: var(--green-light);
}

.close-btn-container {
  position: absolute;
  top: 12px;
  right: 12px;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.close-icon {
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}

.close-icon:hover {
  color: var(--green-light);
}
.dateSectionWrappTime {
  position: relative;
  width: 140px;
}
.dateSectionWrappDate {
  position: relative;
  width: 140px;
}
.icon {
  position: absolute;
  right: 12px;
  bottom: 13px;
  z-index: 500;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .add-form {
    max-width: 704px;
    padding: 40px 108px;
    gap: 20px;
  }
  .edit-form {
    max-width: 704px;
    gap: 20px;
    padding: 40px;
  }
  .t-label {
    font-size: 16px;
  }
  .t-icon {
    right: 16px;
  }
  .t-error {
    font-size: 14px;
  }

  .t-input,
  .t-textarea {
    padding: 12px 18px;
    font-size: 16px;
  }

  .t-currency {
    right: 20px;
  }

  .t-send-btn {
    font-size: 16px;
  }
  .icon {
    width: 20px;
    height: 20px;
    right: 14px;
    bottom: 13px;
  }
  .dateSectionWrappTime {
    width: 221px;
  }
  .dateSectionWrappDate {
    width: 247px;
  }
  .date-section {
    gap: 20px;
  }
  .t-input {
    height: 48px;
  }
  .t-textarea {
    min-height: 97px;
  }
  .t-send-btn {
    width: 119px;
    height: 47px;
  }
}

@media screen and (min-width: 1440px) {
  .add-form,
  .edit-form {
    max-width: 566px;
    padding: 40px;
  }
}

.greenCalendar :global(.react-datepicker) {
  background-color: var(--green-light) !important;
  border: 1px solid var(--green-light) !important;
}

.greenCalendar {
  background-color: var(--green-light) !important;
}

.greenCalendar :global(.react-datepicker__header),
.greenCalendar :global(.react-datepicker__navigation--previous),
.greenCalendar :global(.react-datepicker__navigation--next) {
  background-color: var(--green-light) !important;
  border-color: var(--green-light) !important;
}

.greenCalendar :global(.react-datepicker__day),
.greenCalendar :global(.react-datepicker__current-month),
.greenCalendar :global(.react-datepicker__day-name) {
  color: var(--dark) !important;
}

.greenCalendar :global(.react-datepicker__day--selected),
.greenCalendar :global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--green-light) !important;
}

.greenCalendar :global(.react-datepicker__time-container),
.greenCalendar :global(.react-datepicker__time-list-item),
.greenCalendar :global(.react-datepicker__time-list-item--selected) {
  background-color: var(--green-light) !important;
  color: var(--green) !important;
}
