.form {
	margin: 0 20px 20px 20px;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fieldWrapper {
	position: relative;
}

.searchInput,
.datePicker {
	width: 100%;
	height: 50px;
	padding: 0 55px 0 30px;
	border: 1px solid transparent;
	border-radius: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--white);
	background-color: var(--background);
	transition: border 250ms linear;
	&::placeholder {
		font-weight: 400;
		font-size: 16px;
		letter-spacing: -0.02em;
		color: var(--grey);
	}
	&:hover {
		border: 1px solid var(--green-light);
	}
	&:focus {
		outline: transparent;
		border: 1px solid var(--green-light);
	}
}

.datePicker {
	border: 1px solid var(--grey);
	background-color: transparent;
}

.icon,
.closeIcon {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
	.form {
		max-width: 489px;
		margin: 0 0 16px 32px;
	}
	.fields {
		flex-direction: row;
		gap: 20px;
	}
	.searchInput,
	.datePicker {
		padding: 0 45px 0 30px;
	}
	.datePicker {
		max-width: 183px;
	}
}

@media screen and (min-width: 1440px) {
	.form {
		margin: 0 0 20px 40px;
	}
}
