.emptyWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 30px;
	min-height: 80%;
}

.emptyIcon {
	color: var(--color-svg);
}

.text {
	font-weight: 500;
	font-size: 18px;
	color: var(--color-svg);
}

.link {
	font-weight: 600;
	font-weight: 16px;
	color: var(--color-accent);
	text-decoration: underline;
}
