.authContainer {
    margin-bottom: 186px;
    margin-top: 126px;
}

.authTitle {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.authDescription {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.authForm {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

.authInput {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 335px;
  background-color: inherit;
  color: #fafafa;
}

.authInput::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(250, 250, 250, 0.4);
}

.authBtn {
  border-radius: 40px;
  padding: 14px 44px;
  max-width: 138px;
  margin-top: 142px;
  background: #0ef387;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #0c0d0d;
}

.authText {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
}

.authLink {
  text-decoration: underline;
  color: #fafafa;
}
