.authContainer {
	margin-bottom: 186px;
	margin-top: 126px;
}

.authTitle {
	font-weight: 400;
	font-size: 32px;
	letter-spacing: -0.02em;
	color: var(--color-text);
}

.authDescription {
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: var(--color-input);
}

.authForm {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	gap: 20px;
}

.authInput {
	border: 1px solid rgba(250, 250, 250, 0.2);
	border-radius: 12px;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;
	background-color: inherit;
	color: var(--color-text);
}

.authInput::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.28571;
	color: var(--color-input);
}

.authBtn {
	border-radius: 40px;
	padding: 14px 44px;
	max-width: 138px;
	margin-top: 60px;
	background: var(--color-accent);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: var(--color-bg);
}

.btnLogin {
	margin-top: 122px;
}

.authBtn:hover,
.authBtn:focus {
	background: var(----color-primary);
}

.authText {
	margin-top: 20px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	color: rgba(250, 250, 250, 0.6);
}

.authLink {
	text-decoration: underline;
	color: var(--color-text);
}

.inputWrapper {
	position: relative;
	width: 100%;
	max-width: 335px;
}

.authInput {
	width: 100%;
	padding: 12px 40px 12px 18px;
	border: 1px solid var(--shadow-link);
	border-radius: 12px;
	background-color: inherit;
	color: var(--color-text);
}

.authInput::placeholder {
	color: var(--color-input);
}

.inputError {
	border-color: var(--color-error);
}

.inputSuccess {
	border-color: var(--color-success);
}

.iconRight,
.iconRightError,
.iconRightSuccess {
	position: absolute;
	top: 14px;
	right: 14px;
	font-size: 20px;
	cursor: pointer;
	pointer-events: auto;
}

.iconRightError {
	color: var(--color-error);
}

.iconRightSuccess {
	color: var(--color-success);
}

.successMessage {
	color: var(--color-success);
	font-size: 10px;
	margin-top: 4px;
}

.authError {
	color: var(--color-error);
	font-size: 10px;
	margin-top: 4px;
	margin-left: 18px;
}

.authInput:hover,
.authInput:focus,
.authInput:active {
	outline: none;
	border-color: var(--color-accent);
}

.authBgWrapper {
	display: none;
}

@media screen and (min-width: 768px) {
	.authContainer {
		width: 399px;
		margin: 262px auto;
	}
	.authTitle {
		font-size: 56px;
	}

	.authDescription {
		font-size: 16px;
	}

	.authForm {
		width: 399px;
		gap: 24px;
	}

	.inputWrapper {
		max-width: 399px;
	}

	.authInput {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.authInput::placeholder {
		font-size: 16px;
		line-height: 1.5;
	}

	.authBtn {
		max-width: 145px;
		margin-top: 36px;
		font-size: 16px;
	}

	.btnLogin {
		margin-top: 108px;
	}
}

@media screen and (min-width: 1440px) {
	.authContainer {
		display: flex;
		width: 100%;
		gap: 54px;
		margin-top: 76px;
		margin-bottom: 100px;
	}
	.authFormContainer {
		margin-top: 18px;
		width: 533px;
	}

	.authBgWrapper {
		display: block;
		width: 611px;
		height: 568px;
		flex-shrink: 0;
	}

	.authBg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}
}
