.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  font-size: 24px;
  line-height: 1.2;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}
.loaderWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 150px;
}
@media (min-width: 1440px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(335px, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header form"
      "totals form"
      "chart  form";
    column-gap: 40px;
    row-gap: 44px;
    padding-top: 60px;
    align-items: flex-start;
  }

  .headerSection {
    grid-area: header;
  }

  .totalsSection {
    grid-area: totals;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .chartSection {
    grid-area: chart;
  }

  .formSection {
    grid-area: form;
    min-width: 335px;
    align-self: start;
  }

  .header {
    font-size: 32px;
  }

  .text {
    font-size: 16px;
  }
}

.piePlaceholderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 20px;
}
.piePlaceholderText {
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 5px 10px #0ebb6a51;
}
.piePlaceholderIcon {
  width: 50px;
  height: 50px;
  color: #0ebb69;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 5px 10px #0ebb6a51;
}
