.summaryWrapper {
	margin-bottom: 40px;
}

.summaryTextWrapper {
	margin-bottom: 40px;
}

.summaryTitle {
	font-weight: 400;
	font-size: 32px;
	letter-spacing: -0.02em;
	color: var(--color-text);
	margin-bottom: 20px;
}

.summaryDescription {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: var(--color-input);
}

@media screen and (min-width: 768px) {
	.summaryTitle {
		font-size: 38px;
		margin-bottom: 15px;
	}
	.summaryDescription {
		font-size: 16px;
		max-width: 540px;
	}
}

@media screen and (min-width: 1440px) {
	.summaryWrapper {
		display: flex;
		justify-content: space-between;
	}
	.summaryDescription {
		max-width: 508px;
	}
}
