tbody {
	max-height: 270px;
	overflow-y: auto;
}

td {
	font-weight: 400;
	font-size: 14px;
	color: var(--white);
	padding: 10px 7px;
	&:nth-child(1) {
		width: 147px;
		padding-left: 20px;
	}
	&:nth-child(2) {
		width: 174px;
	}
	&:nth-child(3) {
		width: 187px;
	}
	&:nth-child(4) {
		width: 116px;
	}
	&:nth-child(5) {
		width: 167px;
	}
	&:nth-child(6) {
		padding-right: 20px;
	}
}

tbody tr:first-child td {
	padding-top: 20px;
}

tbody tr:last-child td {
	padding-bottom: 20px;
}

.buttonsWrapper {
	display: inline-flex;
	column-gap: 6px;
}

.editBtn,
.deleteBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	span {
		display: none;
	}
}

.editBtn {
	background-color: var(--green-light);
	transition: background-color 250ms linear;
	&:hover {
		background-color: var(--green);
	}
}
.deleteBtn {
	border: 1px solid transparent;
	background-color: var(--background);
	transition: border 250ms linear;
	&:hover {
		border: 1px solid var(--green-light);
	}
}

.icon {
	width: 12px;
	height: 12px;
}

@media screen and (min-width: 768px) {
	tbody {
		max-height: 300px;
	}
	td {
		font-size: 20px;
		padding: 15px 10px;
		&:nth-child(1) {
			width: 145px;
			padding-left: 32px;
		}
		&:nth-child(2) {
			width: 140px;
		}
		&:nth-child(3) {
			width: 140px;
		}
		&:nth-child(4) {
			width: 140px;
		}
		&:nth-child(5) {
			width: 145px;
		}
		&:nth-child(6) {
			padding-right: 32px;
		}
	}
	.buttonsWrapper {
		column-gap: 8px;
	}
	.editBtn,
	.deleteBtn {
		width: 44px;
		height: 44px;
	}
	.icon {
		width: 16px;
		height: 16px;
	}
}

@media screen and (min-width: 1440px) {
	tbody {
		max-height: 280px;
	}
	td {
		padding: 10px;
		&:nth-child(1) {
			width: 200px;
			padding-left: 40px;
		}
		&:nth-child(2) {
			width: 200px;
		}
		&:nth-child(3) {
			width: 200px;
		}
		&:nth-child(4) {
			width: 150px;
		}
		&:nth-child(5) {
			width: 160px;
		}
		&:nth-child(6) {
			width: 200px;
			padding-right: 60px;
		}
	}
	.editBtn,
	.deleteBtn {
		font-weight: 400;
		font-size: 16px;
		letter-spacing: -0.02em;
		column-gap: 8px;
		border-radius: 40px;
		height: 47px;
		span {
			display: block;
		}
	}
	.editBtn {
		min-width: 118px;
		color: var(--background);
	}
	.deleteBtn {
		min-width: 133px;
		color: var(--white);
	}
}
