.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.guest {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.authDesktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.authMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.barsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 1rem;
  height: 44px;
}
