.authNav {
  display: flex;
  gap: 20px;
  margin: 0;
}

.btnGreen,
.btnOutline {
  max-width: 300px;
  height: 47px;
  padding: 14px 44px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  cursor: pointer;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: row;
  white-space: nowrap;
}

.btnGreen {
  background-color: #0ef387;
  color: black;
  border: none;
  transition: background 0.3s ease;
}

.btnGreen:hover {
  background-color: #0be077;
}

.btnOutline {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: border 0.3s ease, background 0.3s ease;
}

.btnOutline:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: white;
}

/* === TABLET (≥768px):=== */
@media (min-width: 768px) {
  .authNav {
    flex-direction: row;
  }
  .btnGreen,
  .btnOutline {
    width: 146px;
  }
}

/* === DESKTOP (≥1280px): === */
@media (min-width: 1280px) {
  .btnGreen,
  .btnOutline {
    font-size: 16px;
  }
}
