.tableWrapper {
	overflow-x: auto;
}

.tableHeaderWrapper {
	width: fit-content;
	display: grid;
	grid-template-columns: 73px 71px 65px 50px 100px 66px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.2);
}

.tableHeaderCell {
	font-weight: 400;
	font-size: 12px;
	color: rgba(250, 250, 250, 0.4);
}

.tableBodyWrapper {
	width: fit-content;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 20px;
	height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
}

@media screen and (min-width: 768px) {
	.tableWrapper {
		max-width: 704px;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	.tableHeaderWrapper {
		padding: 20px 32px;
		grid-template-columns: 108px 120px 99px 77px 136px 100px;
	}
	.tableBodyWrapper {
		height: 289px;
		row-gap: 30px;
		padding: 20px 16px 20px 32px;
	}
	.tableHeaderCell {
		font-size: 16px;
	}
}

@media screen and (min-width: 1440px) {
	.tableWrapper {
		max-width: 1240px;
		max-height: 328px;
	}
	.tableHeaderWrapper {
		padding: 20px 40px;
		grid-template-columns: 160px 199px 201px 140px 190px 270px;
	}
	.tableBodyWrapper {
		height: 270px;
		row-gap: 20px;
		padding: 20px 16px 20px 32px;
	}
}
