.section {
	padding: 66px 0 80px 0;
}

.transactionWrapper {
	max-width: 335px;
	height: 516px;
	padding: 20px 0;
	border-radius: 30px;
	background-color: var(--dark);
}

@media screen and (min-width: 768px) {
	.section {
		padding: 59px 0 32px 0;
	}
	.transactionWrapper {
		max-width: 704px;
		height: 544px;
		padding: 32px 0;
	}
}

@media screen and (min-width: 1440px) {
	.section {
		padding: 59px 0 50px 0;
	}
	.transactionWrapper {
		max-width: 1240px;
		height: 439px;
		padding: 20px 0;
	}
}
