.expensesWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 30px;
  width: 100%;
  height: auto;
  background-color: #171719;
  align-self: center;
  margin: 20px 0;
  padding-bottom: 40px;
  padding-left: 21px;
  padding-right: 21px;
  @media (min-width: 768px) {
    flex-direction: row;
    column-gap: 95px;
    align-items: center;
    justify-content: center;
    width: 704px;
  }
  @media (min-width: 1440px) {
    width: 630px;
  }
}
.chartContainer {
  width: 100%;
  height: auto;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.expensesTitle {
  font-weight: 400;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.5);
  align-self: flex-start;
  padding-top: 28px;
  padding-left: 20px;
}

.percentage {
  font-weight: 700;
  font-size: 24px;
  color: #fafafa;
}
